<div class="{{section.id}}_side_image_bg">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        {% if block.settings.image_aligment != 'center' %}
          <div class="entry_banner {% if block.settings.image_aligment == 'left' %}left{% endif %}">
            <div class="content">
              <h5>{{ block.settings.subtitle }}</h5>
              <h1>{{ block.settings.title }}</h1>
              <p>{{ block.settings.description }}</p>
              <a class="btn_hover" href="{{ block.settings.btn_link }}">
                <span>{{ block.settings.btn }}</span>
                {% render 'icon-arrow-right-2' %}
              </a>
            </div>
            <div class="entry_image">
              <a href="{{block.settings.image_link}}">
                {{ block.settings.image | image_url: width: 1000 | image_tag }} 
              </a>
            </div>
          </div>
        {% else %}
          <div class="banner_overlay {% if block.settings.image_aligment == 'center' %}center{% endif %}">
            <div class="content">
              <h1>{{ block.settings.title }}</h1>
              <p>{{ block.settings.description }}</p>
              <a class="btn_hover" href="{{ block.settings.btn_link }}">
                <span>{{ block.settings.btn }}</span>
                {% render 'icon-arrow-right-2' %}
              </a>
            </div>
            <div class="bg_image">
              {{ block.settings.image | image_url: width: 1920 | image_tag }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .entry_banner{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .entry_banner.left{    
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .entry_banner .entry_image {
    width: 50%;
  }
  .entry_banner.left .content {
    text-align: right;
  }
  .entry_banner .content {
    width: 30%;
  }
  .btn_hover{
    height: 50px;
    min-width: 170px;
    display: inline-flex;
    border: 1px solid #da5894;
    align-items: center;
    justify-content: center;
  }
  .btn_hover:hover {
    border: 1px solid #da5894;
  }
  .btn_hover span {
    transform: translate(11px);
    transition: all .35s ease-in-out;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
  }
  .btn_hover svg {
    width: 14px;
    height: unset;
    z-index: 9;
    opacity: 0;
    margin-left: 12px;
    visibility: hidden;
    transition: all .35s ease-in-out;
  }
  .btn_hover:hover span {
    transform: translate(0);
  }
  .btn_hover:hover svg {
    fill: #fff;
    opacity: 1;
    visibility: initial;
  }
  .content h5{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 0 !important;
    font-weight: 600;
  }
  .content h1{
    font-size: 60px;
    font-weight: 600;
    text-transform: unset;
    line-height: 70px;
    margin: 0;
  }
  .content p{
    font-size: 14px;
    text-transform: unset;
    line-height: 20px;
    font-weight: 400;
    margin-top: 30px;
  }
  .btn_hover{
    margin-top: 50px;
  }
  .banner_overlay{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_overlay .content{
    width: 40%;
    text-align: right;
    padding-right: 50px;
  }
  .banner_overlay .content h1{
    position: relative;
    margin-left: 150px;
  }
  .banner_overlay .content h1::before{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 130px;
    height: 2px;
    background: black;
    transform: translate(150px, 40px);
  }
  .banner_overlay .bg_image{
    width: 60%;
  }

  @media (max-width: 1440px) {
    .entry_banner .content {
      width: 40%;
    }
  }
  @media (max-width: 1200px) {
    .entry_banner .content {
      width: 45%;
    }
  }
  @media (max-width: 767px) {
    .side_image_bg{
      padding:30px 0 30px 0;
      margin: 0px 0 0px 0;
    }
    .entry_banner{
      flex-direction: column;
    }
    .entry_banner .content {
      width: 100%;
      text-align: center;
    }
    .content h1 {
      font-size: 40px;
      line-height: 60px;
    }
    .content p {
      margin-top: 20px;
    }
    .btn_hover {
        margin-top: 20px;
    }
    .entry_banner .entry_image {
      width: 100%;
      margin-top: 25px;
    }
    .entry_banner.left {
      flex-direction: column;
    }
    .banner_overlay {
      flex-direction: column;
    }
    .banner_overlay .bg_image,
    .banner_overlay .content {
      width: 100%;
    }
    .banner_overlay .content,
    .entry_banner.left .content {
      text-align: center;
    }
    .banner_overlay .bg_image {
        margin-top: 25px;
    }
    .banner_overlay .content h1 {
      margin-left: 0;
    }
    .banner_overlay .content h1::before {
      right: 50%;
      top: 100%;
      transform: translate(50%, 10px);
    }
    .banner_overlay .content {
      padding-right: 0px;
    }
  }
</style>

{% schema %}
{
  "name": "Side Image",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "radio",
          "id": "image_aligment",
          "label": "Image alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "right"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title",
          "default": "Sub Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "description"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Side Image",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
