<div class="{{section.id}}_cart_slider_bg">
  <div class="container">
    <div class="row">
      <div class="slider_cart">
        <div class="product_previews">
          Previews
        </div>
        <div class="left_thumb">
          {% for product in collections[section.settings.slider_cart_collection].products %}
              {{- product.title | link_to: product.url }}<br/>

              <form method="post" action="/cart/add" enctype="multipart/form-data" id="AddToCartForm">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                <button class="shop" type="submit" name="add" id="AddToCart">
                   Add To Cart 
                </button>
              </form>
              
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .{{section.id}}_cart_slider_bg{
    background:{{ section.settings.bg }};
    padding:{{section.settings.padding_top}}px 0 {{section.settings.padding_bottom}}px 0;
    margin: {{section.settings.margin_top}}px 0 {{section.settings.margin_bottom}}px 0
  }
  .slider_cart{
    display: flex;
    align-items: center;
    justify-content: baseline;
  }
  .slider_cart > div{
    width: 50%;
  }
  @media (max-width: 767px) {
    .{{section.id}}_cart_slider_bg{
      padding:30px 0 30px 0;
      margin: 0px 0 0px 0
    }
  }
</style>

{% schema %}
{
  "name": "Slider Cart",
  "settings": [
    {
      "type": "header",
      "content": "Sellect Product"
    },
    {
      "type": "collection",
      "id": "slider_cart_collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Slider Cart"
    }
  ]
}
{% endschema %}
