<div
  class="add_banner_bg"
  style="background:{{ section.settings.bg }};padding:{{section.settings.padding_top}}px 0 {{section.settings.padding_bottom}}px 0;margin: {{section.settings.margin_top}}px 0 {{section.settings.margin_bottom}}px 0"
>
  <div class="container">
    <div class="row">
      <div class="grid-container">
        {% for block in section.blocks %}
          {% if block.settings.image %}
            <div class="item">
              <a href="{{block.settings.image_link}}">
                {{ block.settings.image | image_url: width: 1000 | image_tag }}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }
  .item {
    text-align: center;
  }
</style>

{% schema %}
{
  "name": "Add Banner",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Add Banner",
      "blocks": [
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}
