{%  assign collectionName = section.settings.slider_cart_collection %}
<div class="{{section.id}}_cart_slider_bg">
  <div class="container">
    <div class="row">
      <div class="category_cart_slider">
        <div class="category_images">
          {{ section.settings.category_image | image_url: width: 600 | image_tag }}
        </div>
        <div class="slider_cart_product">
          {% for product in collections[collectionName].products %}
            <div class="entry_single_product">
                <div class="images">
                  {{ product.featured_image | image_url: width: 600 | image_tag }}
                </div>
                <div class="single_bottom">
                  <a href="{{- product.url -}}">{{- product.title | truncate: 20, '...' -}}</a>
                  <h3>{{- product.price | money_with_currency -}}</h3>
                </div>
                <div class="button_area">
                  <form method="post" action="/cart/add" enctype="multipart/form-data" id="AddToCartForm">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                    <button class="button" type="submit" name="add" id="AddToCart"> Add To Cart </button>
                  </form>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .{{section.id}}_cart_slider_bg{
    background:{{ section.settings.bg }};
    padding:{{section.settings.padding_top}}px 0 {{section.settings.padding_bottom}}px 0;
    margin: {{section.settings.margin_top}}px 0 {{section.settings.margin_bottom}}px 0
  }
  .slider_cart_product button.slick-arrow {
      display: none !important;
  }
  .category_images{
    width: 40%;
  }
  .slider_cart_product{
    width: 60%;
  }
  .category_cart_slider {
    display: flex;
    align-items: flex-start;
  }
  .entry_single_product{
    padding: 0 10px;
  }
  .single_bottom{
    padding: 15px;
  }
  .single_bottom a{
    font-size: 16px;
    margin-top: 0;
  }
  .single_bottom h3{
    font-size: 18px;
    margin: 0;
  }
  .single_bottom {
    min-height: 125px;
  }
  .slider_cart_product .slick-dots, 
  .slider_cart_product .slider-dots {
    bottom: -20px;
  }
  .button_area button{
    background: #da5894;
    color: #fff;
    border: 1px solid #da5894;
  }
  .button_area button:hover{
    background: #fff;
    color: #000;
    border: 1px solid #da5894;
  }
  .slider_cart_product .slick-dots .slick-active button {
      width: 35px !important;
      border-radius: 25px !important;
      background: #da5894 !important;
      border-color: #da5894 !important;
  }

  @media (max-width: 767px) {
    .{{section.id}}_cart_slider_bg{
      padding:30px 0 30px 0;
      margin: 0px 0 0px 0
    }
  }
</style>

{% schema %}
{
  "name": "Slider Cart",
  "settings": [
    {
      "type": "header",
      "content": "Sellect Product"
    },
    {
      "type": "image_picker",
      "id": "category_image",
      "label": "Category Image"
    },
    {
      "type": "collection",
      "id": "slider_cart_collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Slider Cart"
    }
  ]
}
{% endschema %}
