<div class="{{section.id}}_spotlight_with_text_bg">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        <div class="spotlight_main">
          <div class="entry_thumb">
            {% if block.settings.image %}
              {{ block.settings.image | image_url: width: 500 | image_tag }}
            {% else %}
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
            <a href="{{ block.settings.button_link }}">{{ block.settings.button }}</a>
          </div>
          <h2>{{ block.settings.title }}</h2>
          <p>{{ block.settings.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .{{section.id}}_spotlight_with_text_bg {
    padding: 50px 300px !important;
    background: #000;
  }
  .{{section.id}}_spotlight_with_text_bg .row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-top: -200px;
  }
  .spotlight_main .entry_thumb {
    position: relative;
    overflow: hidden;
  }
  .spotlight_main .entry_thumb a {
    position: absolute;
    bottom: 0%;
    left: 50%;
    color: #121212;
    background: #fff;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid #fff;
    visibility: hidden;
    transform: translate(-50%, -10%);
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  .spotlight_main .entry_thumb:hover a {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -100%);
  }
  .spotlight_main .entry_thumb a:hover {
    background: #da5894;
    border: 1px solid #da5894;
    color: #fff;
  }
  .spotlight_main {
    text-align: center;
  }
  .spotlight_main h2 {
    color: #fff;
    padding: 0 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .spotlight_main p {
    color: #fff;
    padding: 0 15px;
    font-size: 14px;
    line-height: 18px;
  }
  @media (max-width: 1024px) {
    .{{section.id}}_spotlight_with_text_bg {
      padding: 50px 100px !important;
    }
    .{{section.id}}_spotlight_with_text_bg .row {
      gap: 15px;
      margin-top: -100px;
    }
    .spotlight_main .entry_thumb a {
      width: 140px;
      height: 40px;
      margin-left: -70px;
    }
  }
  @media (max-width: 768px) {
    .{{section.id}}_spotlight_with_text_bg {
      padding: 50px 40px !important;
    }
    .{{section.id}}_spotlight_with_text_bg .row {
      gap: 10px;
      margin-top: -100px;
    }
    .spotlight_main .entry_thumb a {
      width: 100px;
      height: 40px;
      margin-left: -50px;
    }
    .spotlight_main h2 {
      font-size: 14px;
      line-height: 20px;
    }  
    .spotlight_main p {
      line-height: 16px;
    }
  }
  @media (max-width: 425px) {
    .{{section.id}}_spotlight_with_text_bg {
      padding: 40px 30px !important;
    }
    .{{section.id}}_spotlight_with_text_bg .row {
      grid-template-columns: auto auto;
      gap: 10px;
      margin-top: unset;
    }
    .spotlight_main .entry_thumb a {
      width: 90px;
      height: 30px;
      margin-left: -45px;
      bottom: 10px;
    }
  }
</style>

{% schema %}
{
  "name": "Spotlight With Text",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "spotlight_bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "paddign",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title Text"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Description Text"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Spotlight With Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
