<div class="side_image_bg">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        <div class="entry_banner">
          <div class="content">
            <h5>{{ block.settings.subtitle }}</h5>
            <h2>{{ block.settings.title }}</h2>
            <p>{{ block.settings.description }}</p>
            <a class="arrow_btn_effect" href="{{block.settings.btn_link}}">
              <span>{{ block.settings.btn }}</span> 
              {% render 'icon-arrow-right-2' %}
            </a>
          </div>
          <div class="entry_image">
            <a href="{{block.settings.image_link}}">
              {{ block.settings.image | image_url: width: 1000 | image_tag }} 
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .side_image_bg{
    background:{{ section.settings.bg }};
    padding:{{section.settings.padding_top}}px 0 {{section.settings.padding_bottom}}px 0;
    margin: {{section.settings.margin_top}}px 0 {{section.settings.margin_bottom}}px 0
  }
  .entry_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .entry_banner > div{
    width: 50%;
  }
  .arrow_btn_effect{
    background: #da5894;
    min-width: 200px;
    height: 50px;
    text-align: center;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .arrow_btn_effect svg{
    width: 14px;
    height: unset;
    fill: #fff;
    stroke: transparent;
    }
  .arrow_btn_effect span{
    transition: all 300ms ease-in-out;
  }
  .arrow_btn_effect:hover span{
    color: #fff;
    margin-right: 5px;
  }

  @media (max-width: 767px) {
    .side_image_bg{
      padding:30px 0 30px 0;
      margin: 0px 0 0px 0;
    }
  }
</style>

{% schema %}
{
  "name": "Side Image",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title",
          "default": "Sub Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "description"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Side Image",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
