<div class="side_image_bg">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        <div class="entry_banner">
          <div class="content">
            <h5>{{ block.settings.subtitle }}</h5>
            <h2>{{ block.settings.title }}</h2>
            <p>{{ block.settings.description }}</p>
            <a class="hover_x" href="">
              <span>{{ block.settings.btn }}</span>
              {% render 'icon-arrow-right-2' %}
            </a>
          </div>
          <div class="entry_image">
            <a href="{{block.settings.image_link}}">
              {{ block.settings.image | image_url: width: 1000 | image_tag }} 
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .side_image_bg{
    background:{{ section.settings.bg }};
    padding:{{section.settings.padding_top}}px 0 {{section.settings.padding_bottom}}px 0;
    margin: {{section.settings.margin_top}}px 0 {{section.settings.margin_bottom}}px 0
  }
  .entry_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .entry_banner > div{
    width: 50%;
  }





  .section-video .cap_link a {
    font-size: 1.2rem;
    color: #3b3b3b;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
    height: 52px;
    line-height: 52px;
    background: white;
    transition: all .35s ease;
    display: inline-flex;
    text-transform: uppercase;
    min-width: 155px;
    margin-top: 25px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;
  }
  .hover_x span {
    padding-top: 2px;
    transform: translate(11px);
    transition: all .35s ease;
    display: inline-block;
  }
  .hover_x svg {
    color: #000;
    font-weight: 400;
    font-size: 17px;
    margin-left: 12px;
    z-index: 9;
    visibility: hidden;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all .35s ease;
  }
  .hover_x:hover span {
    transform: translate(0);
    transition: all .35s ease;
  }
  .hover_x:hover svg {
    color: #fff;
    visibility: initial;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all .35s ease;
  }







  @media (max-width: 767px) {
    .side_image_bg{
      padding:30px 0 30px 0;
      margin: 0px 0 0px 0;
    }
  }
</style>

{% schema %}
{
  "name": "Side Image",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title",
          "default": "Sub Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "description"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Side Image",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
