<div class="spotlight_with_text_bg">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-3 spotlight_main">
          <div class="entry_thumb">
            {% if block.settings.image %}
              {{ block.settings.image | image_url: width: '400X600' | image_tag }}
            {% else %}
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
            <a>{{ block.settings.button }}</a>
          </div>
          <h2>{{ block.settings.title }}</h2>
          <h2>{{ block.settings.description }}</h2>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .spotlight_with_text_bg {
    padding: 0 10%;
  }
  .spotlight_with_text_bg .row {
    display: flex;
  }
  .spotlight_with_text_bg .row .col-3 {
    width: 33.33%;
  }
  .spotlight_main .entry_thumb {
    position: relative;
  }
  .spotlight_main .entry_thumb a {
    position: absulate;
  }
</style>

{% schema %}
{
  "name": "Spotlight With Text",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "spotlight_bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "paddign",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title Text"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Description Text"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Spotlight With Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
